/* ACCOMODATION CARD */
.accomodation-card-container a {
  flex-grow: 1;
}
.accomodation-card-container figure {
  margin: 0;
  min-width: 240px;
  height: 200px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 25px lightgray;
  border-radius: 15px;
}
.accomodation-card-container img {
  height: 115px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.accomodation-card-container figcaption {
  margin-top: 2px;
}
.accomodation-card-container figcaption > * {
  margin: 0;
  padding: 3px 10px;
}
.accomodation-card-container figcaption:not(i) {
  font-size: 14px;
}

/* MOST POPULAR CARD */
.most-popular-card-container figure {
  display: flex;
  margin: 0;
  width: 340px;
  height: 145px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 25px lightgrey;
  border-radius: 20px;
}
.most-popular-card-container img {
  height: 100%;
  width: 125px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.most-popular-card-container figcaption {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.most-popular-card-container figcaption:not(i) {
  font-size: 14px;
}
.most-popular-card-container figcaption > * {
  margin: 0;
}
.most-popular-card-container h3 {
  padding: 7px 0;
}
.most-popular-card-container .ratings {
  margin-top: auto;
}
