.accomodation-popular {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}
.accomodation-popular h2 {
  font-size: 21px;
  font-weight: 800;
}
.accomodation-popular h3 {
  font-weight: 800;
}
.accomodation-popular a {
  text-decoration: none;
  color: inherit;
}
.show-more {
  font-size: 18px;
  font-weight: bolder;
  margin: 40px 0 20px;
  cursor: pointer;
}
.accomodation,
.most-popular {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 25px 40px;
}
.accomodation {
  flex-basis: 65%;
}
.accomodation-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 22px 0;
  gap: 30px;
}
.heading-most-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}
.heading-most-popular i {
  font-size: 20px;
}
.most-popular-card-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 2px;
}

/* RATINGS */
.ratings {
  font-size: 12px;
  color: var(--blue-color);
}
.fa-star:not(.ratings:first-child) {
  margin-left: -2px;
}
.four-star .fa-star:last-child {
  color: lightgrey;
}
.three-star i:nth-child(4),
.three-star i:nth-child(5) {
  color: lightgrey;
}

figure:hover {
  transform: scale(1.01);
}
