.activity {
  margin: 65px 0;
}
.activity-container {
  display: flex;
  gap: 45px;
}
.activity-container a {
  text-decoration: none;
  color: black;
}
.activity h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 25px 0;
}
.activity-container h3 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 800;
}
.activity-card-container {
  width: 300px;
  height: 445px;
}

/* ACTIVITY CARD */

.activity-card-container figure {
  height: 100%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 2px 15px lightgray;
}
.activity-card-container img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

/* CARD_CONTENEUR 2 AND 4 */
.card-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CARD 1 AND 4 */
.big-card img {
  height: 389px;
}

/* 2nd CARD */
.card-fort-de-pomegues {
  height: 236px;
}
.card-fort-de-pomegues img {
  height: 180px;
}

/* 3rd CARD */
.card-iles-de-frioul {
  height: 165px;
}
.card-iles-de-frioul img {
  height: 109px;
}

/*5th card */
.card-notre-dame {
  height: 195px;
}
.card-notre-dame img {
  height: 139px;
}

/* 6th card */
.card-parc-longchamp {
  height: 209px;
}
.card-parc-longchamp img {
  height: 153px;
}
