.activity {
  margin: 65px 0;
}
.activity_container {
  display: flex;
  gap: 45px;
}
.activity_container a {
  text-decoration: none;
  color: black;
}
.activity h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 25px 0;
}
.activity_container h3 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 800;
}
.activity_card_container {
  width: 300px;
  height: 445px;
}

/* ACTIVITY CARD */

.activity_card_container figure {
  height: 100%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 2px 15px lightgray;
}
.activity_card_container img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

/* CARD_CONTENEUR 2 AND 4 */
.card_inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CARD 1 AND 4 */
.big_card img {
  height: 389px;
}

/* 2nd CARD */
.card_fort_de_pomegues {
  height: 236px;
}
.card_fort_de_pomegues img {
  height: 180px;
}

/* 3rd CARD */
.card_iles_de_frioul {
  height: 165px;
}
.card_iles_de_frioul img {
  height: 109px;
}

/*5th card */
.card_notre_dame {
  height: 195px;
}
.card_notre_dame img {
  height: 139px;
}

/* 6th card */
.card_parc_longchamp {
  height: 209px;
}
.card_parc_longchamp img {
  height: 153px;
}
