footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 220px;
  padding: 0 19% 0 4%;
  background-color: var(--grey-color);
  vertical-align: top;
}
footer p {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 5px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-bottom: 15px;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: black;
}
.footer_list {
  display: inline-block;
  margin-top: 25px;
  width: 230px;
}
