header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.logo {
  height: 45px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
}
.navbar li {
  padding: 50px 30px 40px;
  text-align: center;
  border-top: 2px solid transparent;
}
.navbar li:hover {
  color: var(--blue-color);
  border-top: 2px solid var(--blue-color);
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
