main {
  margin: 0 50px;
}
h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
.main-title p {
  margin: 12px 0;
}
.main-heading i {
  display: flex;
}
.main-heading i::before {
  margin: auto;
}

/* search-form */
.search-form {
  margin: 20px 0;
  max-width: 435px;
  display: flex;
  overflow: hidden;
  border: 1px solid var(--grey-color);
  border-radius: 17px;
}
.search-form > * {
  font-size: 18px;
  padding: 14px 17px;
}
.search-form .fa-location-dot {
  background-color: var(--grey-color);
}
.search-form input {
  flex-shrink: 2;
  border: none;
  overflow: hidden;
  font-weight: 800;
}
.search-form input:focus {
  outline: none;
}
.search-form-button {
  display: flex;
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--blue-color);
  font-weight: 700;
}
.search-form-button i {
  display: none;
  margin: auto;
}

/* FILTER */
.filter {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: 800;
  margin: 30px 0 20px 0;
  gap: 0 25px;
}
.filter-title {
  padding: 0 10px;
}
.filter-button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.filter-button {
  display: flex;
  align-items: center;
  border: 2px solid lightgrey;
  cursor: pointer;
  height: 50px;
  border-radius: 40px;
  padding-right: 5px;
}
.filter-button:hover {
  transform: scale(1.08);
}
.filter-button i {
  width: 50px;
  margin: -3px;
  padding: 15px;
  font-size: 19px;
  color: var(--blue-color);
  background-color: var(--lightblue-color);
  border-radius: 50%;
}
.filter-button p {
  padding: 0 12px;
}

/* INFO */
.info {
  display: flex;
}
.info span {
  width: 23px;
  height: 23px;
  margin: 12px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
}
.info i {
  margin: auto;
  font-size: 12px;
  color: var(--blue-color);
}
