@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    flex-direction: column;
    margin: 0;
  }
  header img {
    margin: 20px;
  }
  .navbar {
    width: 100%;
  }
  .navbar ul {
    width: 100%;
  }
  .navbar li {
    padding: 15px 0;
    width: 50%;
  }
  .navbar li:hover {
    border-top: 2px solid transparent;
  }
  .hebergements {
    border-top: none;
    border-bottom: 3px solid var(--blue-color);
  }
  .activites {
    border-bottom: 3px solid var(--grey-color);
  }

  /* MAIN_HEADING SEARCH_FORM */
  .main_heading {
    margin: 20px;
  }
  .search_form {
    max-width: 335px;
    margin-top: 35px;
  }
  .search_form_button {
    border-radius: 15px;
  }
  .search_form_button span {
    display: none;
  }
  .search_form_button i {
    display: inline-block;
    background-color: var(--blue-color);
    color: white;
  }

  /* MAIN_HEADING FILTER */
  .filter {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .filter_title {
    padding: 0;
  }
  .filter_button {
    font-size: 16px;
  }

  /* MAIN_HEADING INFO */
  .info span {
    margin-left: 0;
    flex-shrink: 0;
  }

  /* MAIN ACCOMODATION_POPULAR */
  .most_popular,
  .accomodation {
    border-radius: 0;
    padding: 20px;
  }
  .accomodation_card_container {
    gap: 15px;
  }
  .accomodation_card_container figure {
    min-width: 240px;
  }
  .most_popular {
    padding-bottom: 40px;
  }
  .most_popular_card_container {
    gap: 10px;
  }
  .most_popular_card_container img {
    width: 200px;
  }

  /* MAIN ACTIVITY */
  .activity {
    padding: 0 20px;
  }
  .activity_container,
  .activity_card_container {
    gap: 20px;
  }
  .activity_card_container {
    width: 260px;
  }
  footer {
    padding: 0 20% 5% 10%;
  }
  .footer_list:not(:first-child) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 592px) {
  .accomodation_card_container {
    flex-direction: column;
  }
  .most_popular_card_container img {
    width: 145px;
  }
  .activity_card_container:nth-child(2),
  .activity_card_container:nth-child(4) {
    order: 0;
    height: 420px;
    flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .most_popular_card_container figcaption {
    padding: 0 5px;
  }
  .most_popular_card_container img {
    width: 100px;
  }
}
