@media screen and (min-width: 1450px) {
  .bloc_page {
    margin: auto;
  }
}

@media screen and (max-width: 1423px) {

  /* MAIN ACCOMODATION_POPULAR */
  .accomodation_popular {
    flex-direction: column-reverse;
  }
  .heading_most_popular {
    max-width: 335px;
  }
  .most_popular_card_container {
    flex-direction: row;
    gap: 25px;
  }
  .accomodation_card_container a {
    flex-basis: 30%;
  }
  .most_popular_card_container figure {
    width: 100%;
  }
  .most_popular_card_container a {
    flex-basis: 32%;
    flex-grow: 1;
  }
  .footer_list {
    padding-right: 10px;
  }

  /* MAIN ACTIVITY */
  .activity_container {
    flex-wrap: wrap;
    gap: 30px;
  }
  .activity_card_container {
    height: 200px;
    flex-grow: 1;
  }
  .activity_card_container:nth-child(2),
  .activity_card_container:nth-child(4) {
    flex-basis: 65%;
  }
  .activity_card_container figure {
    height: 200px;
  }
  .activity_card_container img {
    height: 150px;
  }
  .card_inside {
    flex-direction: row;
    gap: 30px;
  }
  .card_inside a {
    flex-basis: 49%;
  }
}

@media screen and (max-width: 1208px) {
  main {
    margin: 0;
  }
  .main_heading {
    margin: 0 20px;
  }
  .accomodation,
  .most_popular {
    padding: 25px 20px;
    border-radius: 0;
  }
  .most_popular_card_container figcaption {
    padding: 5px 10px;
  }
  .activity {
    padding: 0 20px;
  }
  footer {
    padding: 0 10% 0 5%;
  }
}

@media screen  and (max-width: 992px) {

  .filter_button_container {
    gap: 12px;
  }
  /* MAIN ACCOMODATION_POPULAR */
  .accomodation_popular {
    gap: 20px;
  }
  .most_popular,
  .accomodation {
    padding: 0 30px 40px;
  }
  .accomodation {
    background-color: white;
  }
  .accomodation_card_container figure {
    min-width: 280px;
  }
  .heading_most_popular {
    max-width: 335px;
  }
  .most_popular_card_container {
    flex-direction: column;
  }
  .most_popular_card_container figure {
    width: 100%;
    font-size: 8px;
  }
  .most_popular_card_container img {
    width: 300px;
  }

  /* MAIN ACTIVITY */
  .activity {
    padding: 0 30px;
    margin-top: 0;
  }
  .activity_card_container:nth-child(2),
  .activity_card_container:nth-child(4) {
    flex-basis: 90%;
    order: 2;
  }
  footer {
    padding: 0 5% 0 5%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {

  /* HEADER */
  header {
    flex-direction: column;
    margin: 0;
  }
  header img {
    margin: 20px;
  }
  .navbar {
    width: 100%;
  }
  .navbar ul {
    width: 100%;
  }
  .navbar li {
    padding: 15px 0;
    width: 50%;
  }
  .hebergements {
    border-top: none;
    border-bottom: 3px solid var(--blue-color);
  }
  .activites {
    border-bottom: 3px solid var(--grey-color);
  }

  /* MAIN_HEADING SEARCH_FORM */
  .main_heading {
    margin: 20px;
  }
  .search_form {
    max-width: 335px;
    margin-top: 35px;
  }
  .search_form_button {
    border-radius: 15px;
  }
  .search_form .button_text {
    display: none;
  }
  .search_form .button_icon {
    display: inline;
  }
  .button_icon i {
    background-color: var(--blue-color);
    color: white;
  }

  /* MAIN_HEADING FILTER */
  .filter {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .filter_title {
    padding: 0;
  }
  .filter_button {
    font-size: 16px;
  }

  /* MAIN_HEADING INFO */
  .info span {
    margin-left: 0;
    flex-shrink: 0;
  }

  /* MAIN ACCOMODATION_POPULAR */
  .most_popular,
  .accomodation {
    border-radius: 0;
    padding: 20px;
  }
  .accomodation {
    margin-bottom: 0;
    padding-top: 0;
  }
  .accomodation_card_container {
    gap: 15px;
  }
  .accomodation_card_container figure {
    min-width: 240px;
  }
  .most_popular {
    padding-bottom: 40px;
  }
  .heading_most_popular {
    margin-bottom: 10px;
  }
  .most_popular_card_container {
    gap: 10px;
  }
  .most_popular_card_container img {
    width: 200px;
  }

  /* MAIN ACTIVITY */
  .activity {
    padding: 0 20px;
  }
  .activity_container,
  .activity_card_container {
    gap: 20px;
  }
  .activity_card_container {
    width: 260px;
  }
  footer {
    padding: 0 20% 5% 10%;
  }
  .footer_list:not(:first-child) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 592px) {
  .accomodation_card_container {
    flex-direction: column;
  }
  .most_popular_card_container img {
    width: 145px;
  }
  .activity_card_container:nth-child(2),
  .activity_card_container:nth-child(4) {
    order: 0;
    height: 420px;
    flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .most_popular_card_container figcaption {
    padding: 0 5px;
  }
  .most_popular_card_container img {
    width: 100px;
  }
}