@media screen and (max-width: 1423px) {
  /* MAIN accomodation-popular */
  .accomodation-popular {
    flex-direction: column-reverse;
  }
  .heading-most-popular {
    max-width: 335px;
  }
  .most-popular-card-container {
    flex-direction: row;
    gap: 25px;
  }
  .accomodation-card-container a {
    flex-basis: 30%;
  }
  .most-popular-card-container figure {
    width: 100%;
  }
  .most-popular-card-container a {
    flex-basis: 32%;
    flex-grow: 1;
  }

  /* MAIN ACTIVITY */
  .activity-container {
    flex-wrap: wrap;
    gap: 30px;
  }
  .activity-card-container {
    height: 200px;
    flex-grow: 1;
  }
  .activity-card-container:nth-child(2),
  .activity-card-container:nth-child(4) {
    flex-basis: 65%;
  }
  .activity-card-container figure {
    height: 200px;
  }
  .activity-card-container img {
    height: 150px;
  }
  .card-inside {
    flex-direction: row;
    gap: 30px;
  }
  .card-inside a {
    flex-basis: 49%;
  }

  .footer-list {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1208px) {
  main {
    margin: 0;
  }
  .main-heading {
    margin: 0 20px;
  }
  .accomodation,
  .most-popular {
    padding: 25px 20px;
    border-radius: 0;
  }
  .most-popular-card-container figcaption {
    padding: 5px 10px;
  }
  .activity {
    padding: 0 20px;
  }
  footer {
    padding: 0 10% 0 5%;
  }
}
