@media screen and (min-width: 1450px) {
    .bloc_page {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 1423px) {
  
    /* MAIN ACCOMODATION_POPULAR */
    .accomodation_popular {
      flex-direction: column-reverse;
    }
    .heading_most_popular {
      max-width: 335px;
    }
    .most_popular_card_container {
      flex-direction: row;
      gap: 25px;
    }
    .accomodation_card_container a {
      flex-basis: 30%;
    }
    .most_popular_card_container figure {
      width: 100%;
    }
    .most_popular_card_container a {
      flex-basis: 32%;
      flex-grow: 1;
    }
  
    /* MAIN ACTIVITY */
    .activity_container {
      flex-wrap: wrap;
      gap: 30px;
    }
    .activity_card_container {
      height: 200px;
      flex-grow: 1;
    }
    .activity_card_container:nth-child(2),
    .activity_card_container:nth-child(4) {
      flex-basis: 65%;
    }
    .activity_card_container figure {
      height: 200px;
    }
    .activity_card_container img {
      height: 150px;
    }
    .card_inside {
      flex-direction: row;
      gap: 30px;
    }
    .card_inside a {
      flex-basis: 49%;
    }

    .footer_list {
      padding-right: 10px;
    }
  }
  
  @media screen and (max-width: 1208px) {
    main {
      margin: 0;
    }
    .main_heading {
      margin: 0 20px;
    }
    .accomodation,
    .most_popular {
      padding: 25px 20px;
      border-radius: 0;
    }
    .most_popular_card_container figcaption {
      padding: 5px 10px;
    }
    .activity {
      padding: 0 20px;
    }
    footer {
      padding: 0 10% 0 5%;
    }
  }