@media screen and (max-width: 991px) {
  .filter-button-container {
    gap: 12px;
  }
  /* MAIN accomodation-popular */
  .accomodation-popular {
    gap: 0;
  }
  .most-popular,
  .accomodation {
    padding: 25px 30px 40px;
  }
  .accomodation {
    background-color: white;
  }
  .accomodation-card-container figure {
    min-width: 280px;
  }
  .heading-most-popular {
    max-width: 335px;
  }
  .most-popular-card-container {
    flex-direction: column;
  }
  .most-popular-card-container figure {
    width: 100%;
    font-size: 8px;
  }
  .most-popular-card-container img {
    width: 300px;
  }

  /* MAIN ACTIVITY */
  .activity {
    padding: 0 30px;
    margin-top: 0;
  }
  .activity-card-container:nth-child(2),
  .activity-card-container:nth-child(4) {
    flex-basis: 90%;
    order: 2;
  }
  footer {
    padding: 0 5% 0 5%;
    flex-wrap: wrap;
  }
}
