@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  --blue-color: #0065fc;
  --lightblue-color: #deebff;
  --grey-color: #f2f2f2;
}
.bloc_page {
  max-width: 1450px;
  font-weight: 500;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.logo {
  height: 45px;
}
.navbar ul {
  margin-block-start: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar li {
  padding: 50px 30px;
  text-align: center;
}
.hebergements {
  border-top: 2px solid var(--blue-color);
}
.navbar a {
  text-decoration: none;
  color: black;
}
.hebergements a {
  color: var(--blue-color);
}

/* MAIN_HEADING */

main {
  margin: 0 50px;
}
h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
.main_title p {
  margin: 12px 0;
}

/* MAIN HEADER SEARCH_FORM */

.search_form {
  margin: 20px 0;
  max-width: 435px;
  display: flex;
  overflow: hidden;
  border: 1px solid var(--grey-color);
  border-radius: 17px;
}
.search_form > * {
  padding: 14px 17px;
  font-size: 18px;
}
.search_form i {
  display: flex;
}
.search_form i::before {
  margin: auto;
}
.search_form .fa-location-dot {
  background-color: var(--grey-color);
}
.search_form input {
  font-weight: 700;
  border: none;
  overflow: hidden;
  flex-shrink: 2;
}
.search_form input:focus {
  outline: none;
}
.search_form_button {
  color: white;
  background-color: var(--blue-color);
  font-weight: 700;
  border: none;
}
.search_form .button_icon {
  display: none;
}

/* MAIN HEADER FILTER */

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 20px 0;
  font-size: 17px;
  font-weight: 800;
}
.filter_title {
  margin: 0 20px 10px 10px;
}
.filter_button_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter_button {
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 40px;
  padding-right: 5px;
  margin: 0px 12px 10px 12px;
}
.filter_button i {
  display: flex;
  width: 50px;
  font-size: 19px;
  padding: 15px;
  color: var(--blue-color);
  background-color: var(--lightblue-color);
  border-radius: 50%;
  margin: -3px;
}
.filter_button i::before {
  margin: auto;
}
.filter_button p {
  padding: 0 12px;
}

/* MAIN HEADER INFO */

.info {
  display: flex;
}
.info span {
  width: 23px;
  height: 23px;
  margin: 12px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
}
.info i {
  margin: auto;
  font-size: 12px;
  color: var(--blue-color);
}

/* MAIN SECTION ACCOMODATION POPULAR */

.accomodation_popular {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}
.accomodation_popular h2 {
  font-size: 21px;
  font-weight: 800;
}
.accomodation_popular h3 {
  font-weight: 800;
}
.show_more {
  font-size: 18px;
  font-weight: bolder;
  margin: 40px 0 20px;
}
.accomodation,
.most_popular {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 25px 40px;
}
.accomodation {
  flex-basis: 65%;
}
.most_popular {
  flex-basis: 31%;
}
.accomodation_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 22px 0;
  gap: 30px;
}
.accomodation_card_container a {
  text-decoration: none;
  color: black;
}
.heading_most_popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}
.heading_most_popular i {
  font-size: 20px;
}

/* ACCOMODATION CARD */
.accomodation_card_container a {
  flex-grow: 1;
}
.accomodation_card_container figure {
  margin: 0;
  min-width: 240px;
  height: 200px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 25px lightgray;
  border-radius: 15px;
}
.accomodation_card_container img {
  height: 115px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.accomodation_card_container figcaption {
  margin-top: 2px;
}
.accomodation_card_container figcaption > * {
  margin: 0;
  padding: 3px 10px;
}
.accomodation_card_container figcaption:not(i) {
  font-size: 14px;
}
.ratings {
  font-size: 12px;
  color: var(--blue-color);
}

.most_popular_card_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 2px;
}
.most_popular_card_container a {
  text-decoration: none;
  color: black;
}

/* MOST POPULAR CARD */

.most_popular_card_container figure {
  display: flex;
  margin: 0;
  width: 340px;
  height: 145px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 25px lightgrey;
  border-radius: 20px;
}
.most_popular_card_container img {
  height: 100%;
  width: 125px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.most_popular_card_container figcaption {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.most_popular_card_container figcaption:not(i) {
  font-size: 14px;
}
.most_popular_card_container figcaption > * {
  margin: 0;
}
.most_popular_card_container h3 {
  padding: 7px 0;
}
.most_popular_card_container .ratings {
  margin-top: auto;
}

/* MAIN ACTIVITY */

.activity {
  margin: 65px 0;
}
.activity_container {
  display: flex;
  gap: 45px;
}
.activity_container a {
  text-decoration: none;
  color: black;
}
.activity h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 25px 0;
}
.activity_container h3 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 800;
}
.activity_card_container {
  width: 300px;
  height: 445px;
}

/* ACTIVITY CARD */

.activity_card_container figure {
  height: 100%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 2px 15px lightgray;
}
.activity_card_container img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

/* CARD_CONTENEUR 2 AND 4 */
.card_inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CARD 1 AND 4 */
.activity_container .big_card img {
  height: 389px;
}

/* 2nd CARD */
.card_fort_de_pomegues {
  height: 236px;
}
.card_fort_de_pomegues img {
  height: 180px;
}

/* 3rd CARD */
.card_iles_de_frioul {
  height: 165px;
}
.card_iles_de_frioul img {
  height: 109px;
}

/*5th card */
.card_notre_dame {
  height: 195px;
}
.card_notre_dame img {
  height: 139px;
}

/* 6th card */
.card_parc_longchamp {
  height: 209px;
}
.card_parc_longchamp img {
  height: 153px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  padding: 0 300px 0 50px;
  background-color: var(--grey-color);
}
footer p {
  font-size: 18px;
  font-weight: 800;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-bottom: 15px;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: black;
}
.footer_list {
  width: 230px;
  height: 155px;
}
/* Media Query */
/*
@media screen and (min-width: 993px) and (max-width: 1440px) {
  .most_popular_card_container {
    height: 660px;
    justify-content: space-around;
  }
  .most_popular_card_container figure {
    height: 180px;
  }
  .most_popular_card_container img {
    width: 140px;
  }
}
*/
@media screen and (min-width: 1450px) {
  .bloc_page {
    margin: auto;
  }
}

@media screen and (min-width: 1167px) and (max-width: 1440px) {
  .accomodation_card_container {
    margin-top: 32px;
  }
  .most_popular_card_container {
    margin-top: 15px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1166px) {
  main {
    margin: 23px;
  }
  .main_heading {
    margin: 0 20px;
  }
  .accomodation_popular {
    gap: 40px;
  }
  .accomodation {
    padding: 25px 10px;
    flex-basis: 70%;
  }
  .most_popular {
    flex-basis: 25%;
    padding: 25px 10px;
  }
  .accomodation_card_container {
    margin-top: 32px;
  }
  .most_popular_card_container {
    margin-top: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  main {
    margin: 20px;
  }
  .accomodation_popular {
    flex-direction: column-reverse;
  }
  .accomodation_popular h2 {
    font-size: 22px;
  }
  .most_popular,
  .accomodation {
    padding-bottom: 40px;
  }
  .accomodation {
    background-color: white;
    margin-top: -30px;
  }
  .heading_most_popular {
    max-width: 335px;
  }
  .most_popular_card_container {
    flex-direction: column;
    gap: 30px;
  }
  .most_popular_card_container figure {
    width: 100%;
    font-size: 8px;
  }
  .most_popular_card_container img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER */

  header {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
  }
  .navbar {
    width: 100%;
  }
  .navbar ul {
    width: 100%;
  }
  .navbar li {
    padding: 15px 0;
    width: 50%;
  }
  .hebergements {
    border-top: none;
    border-bottom: 3px solid var(--blue-color);
  }
  .activites {
    border-bottom: 3px solid var(--grey-color);
  }

  /* MAIN_HEADING SEARCH_FORM */

  main {
    margin: 0px;
  }
  .main_heading {
    margin: 20px;
  }
  .search_form {
    max-width: 335px;
    margin-top: 35px;
  }
  .search_form_button {
    border-radius: 15px;
  }
  .search_form .button_text {
    display: none;
  }
  .search_form .button_icon {
    display: inline;
  }
  .button_icon i {
    background-color: var(--blue-color);
    color: white;
  }

  /* MAIN_HEADING FILTER */

  .filter {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .filter_title {
    margin: 0;
  }
  .filter_button {
    margin: 0 10px 15px 0;
    font-size: 16px;
  }

  /* MAIN_HEADING INFO */

  .info span {
    margin-left: 0;
    flex-shrink: 0;
  }

  /* MAIN ACCOMODATION_POPULAR */

  .accomodation_popular {
    flex-direction: column-reverse;
  }
  .most_popular,
  .accomodation {
    border-radius: 0;
    padding: 20px;
  }
  .accomodation {
    background-color: white;
    margin-bottom: 0;
    padding-top: 0;
  }
  .accomodation h2 {
    margin-top: 0;
  }
  .most_popular {
    padding-bottom: 40px;
  }
  .heading_most_popular {
    margin-bottom: 10px;
    max-width: 335px;
  }
  .most_popular_card_container {
    flex-direction: column;
    gap: 10px;
  }
  .most_popular_card_container figure {
    width: 100%;
    font-size: 8px;
  }
  .most_popular_card_container img {
    width: 200px;
  }
}

@media screen and (max-width: 592px) {
  .most_popular_card_container img {
    width: 145px;
  }
}

@media screen and (max-width: 376px) {
  .most_popular_card_container figcaption {
    padding: 0 5px;
  }
  .most_popular_card_container img {
    width: 100px;
  }
}
