@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  --blue-color: #0065fc;
  --lightblue-color: #deebff;
  --grey-color: #f2f2f2;
}
body {
  max-width: 1450px;
  font-weight: 500;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
#logo {
  height: 45px;
  width: 95px;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav li {
  padding: 40px 30px;
  text-align: center;
}
.hebergements {
  border-top: 2px solid var(--blue-color);
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.hebergements a {
  color: var(--blue-color);
}

/* MAIN */

main {
  margin: 0 50px;
}
h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
#heading_title p {
  margin: 10px 0;
}
#search_form {
  margin: 20px 0;
  display: flex;
}
#search_form * {
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid var(--grey-color);
}
#search_form i {
  font-size: 18px;
  background-color: var(--grey-color);
  border-radius: 15px 0 0 15px;
}
#search_form input {
  font-weight: 700;
  border-right: none;
}
#search_form button {
  color: white;
  background-color: var(--blue-color);
  font-weight: 700;
  border-radius: 0 15px 15px 0;
}

/* Media Query */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
  }
  nav ul {
    width: 100%;
  }
  nav li {
    padding: 15px 40px;
    width: 50%;
  }
  .hebergements {
    border-top: none;
    border-bottom: 3px solid var(--blue-color);
  }
  .activites {
    border-bottom: 3px solid var(--grey-color);
  }
}
